*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}
body{
    font-family: work-sans, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
    margin: 2% 5%;
}
section, header {
    margin: 2% 0;
}
p, a, ul, ol, li{
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: .05rem;
}
h1{
    font-family: work-sans, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 9.5rem;
    letter-spacing: 1rem;
    color: #fff;
    /* color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: #000 2px; */
    text-transform: uppercase;
    line-height: 9.5rem;;
}
h2{
    font-family: freight-big-pro, serif;
    font-weight: 700;
    font-style: normal; 
    font-size: 7rem;
    color: #222;
}
h3{
    font-family: work-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    color: #222;
    text-transform: uppercase;
}
h4{
    font-size: 1.4rem;
    color: #777;
    padding-top: 20px;
}
a:link, a:visited{
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px solid black;
    color: #222;
    transition: .2s ease-in-out;
}
a:hover, a:active{
    opacity: .5;
    transition: .2s ease-in-out;
}
p, ul, ol, li{
    max-width: 800px;
}
.btn{
    padding: 1rem 1.4rem;
    background-color: #0000004d;
    /* background-color: #ffffffaa; */
    text-align: center;
}
.btn a{
    border: none;
    color: #fff;

    font-family: work-sans, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

/* ----------------------------- FOOTER  */
footer{
    margin: 10rem 0;
}



/* ----------------------------- HOME PAGE  */

nav{
    display: flex;
    justify-content: space-between;
    margin: 3% 0;
}
#logoLink{
    font-family: freight-big-pro, serif;
    font-weight: 700;
    font-style: normal;
    border-bottom: none;
    text-transform: lowercase;
    font-size: 1.8rem;
}
.navLink{
    margin-left: 20px;
}

.work-item{
    text-align: center;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.item-number{
    padding-top: 30px;
}
.item-title{
    max-width: 80%;
    z-index: 1000;
}
.item-subtitle{
    padding-bottom: 40px;
}
.work-button{
    display: none;
}

/* work items  */

#aral-sea, #aral-bg, #aral-bg:hover, #aral-image, #typo-space, #typo-bg, #typo-bg:hover, #typo-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#aral-sea{
    height: 82vh;
    background-image: url("../images/aral-cover.jpg");
}
#aral-bg{
    background-color: #D6E9F9;
    transition: .5s ease;
    position: relative;
}
#aral-bg:hover{
    background-color: #d6e9f9dd;
    transition: .5s ease;
}
#aral-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 350px;
    width: 450px;
    background-image: url("../images/aral-image.png");
    z-index: 500;
}

#typo-space{
    height: 82vh;
    background-image: url("../images/typo-cover.jpg");
}
#typo-bg{
    background-color: #EAE1FF;
    transition: .5s ease;
    position: relative;
}
#typo-bg:hover{
    background-color: #EAE1FFdd;
    transition: .5s ease;
}
#typo-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 350px;
    width: 450px;
    background-image: url("../images/typo-image.png");
    z-index: 500;
}


/* div{ border: 1px solid black;}  */