@media only screen and (max-width: 1150px){
    #typo-space .item-title h1{
        font-size: 8.5rem;
        line-height: 8.5rem;
    }
    .work-button{
        display: none;
    }
}

@media only screen and (max-width: 1000px){
    #typo-space .item-title h1{
        font-size: 7.5rem;
        line-height: 7rem;
    }
}

@media only screen and (max-width: 900px){
    #typo-space .item-title h1{
        font-size: 6.5rem;
        line-height: 6.5rem;
    }
}

@media only screen and (max-width: 800px){
    nav{
        margin: 4% 0;
    }
    body{
        margin: 2% 5%;
    }
    section{
        margin: 4% 0;
    }

    .work-item, #aral-sea, #typo-space{
        height: auto;
    }
    .item-title h1, #typo-space .item-title h1{
        color: #000; 
        font-size: 3.1rem;  
        line-height: 3rem;
        letter-spacing: .3rem;
    }
    .item-title{
        padding-top: 330px;
    }
    .item-subtitle{
        padding-top: 15px;
        padding-bottom: 90px;
    }
    #aral-image, #typo-image{
        top: 0%;
        transform: translate(-50%, 0);
        margin-top: 45px;
    }
    h3{
        font-weight: 400;
        font-size: 1.2rem;
    }
    .work-button{
        display: block;
        position: absolute;
        bottom: 8%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@media only screen and (max-width: 600px){
    #aral-image, #typo-image{
        height: 250px;
        width: 300px;
    }
    .item-title{
        padding-top: 232px;
    }
}

@media only screen and (max-width: 400px){
    nav{
        margin: 13% 0 10% 0;
    }
    body{
        margin: 5% 8%;
    }
    section{
        margin: 6% 0;
    }
    #aral-image, #typo-image{
        height: 200px;
        width: 250px;
    }
    .item-title{
        padding-top: 185px;
    }
    .item-title h1, #typo-space .item-title h1{
        font-size: 2.6rem;  
        line-height: 2.3rem;
        letter-spacing: .3rem;
    }
}
